@font-face {
    font-family: 'Bungee';
    font-style: normal;
    font-weight: 400;
    src: local('Bungee'), local('Bungee-Regular'), url(https://fonts.gstatic.com/s/bungee/v4/N0bU2SZBIuF2PU_0DXR1.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v8/2sDfZG1Wl4LcnbuKgE0mV0Q.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v8/2sDfZG1Wl4LcnbuKjk0m.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
    color: black;
}

:root {
    font-size: 16px;
    --white: #FFF;
    --orange: #ff8000;
    --blue: #0066ff;
    --pink: #ff0066;
    --lighterblack: #1a1a1a; 
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    font-family: Oxygen;
}

.gridwrapper {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 50px 100px 1fr 50px;
    grid-template-areas:
    "nav nav nav"
    "header header header"
    "leftside main rightside"
    "footer footer footer";
    justify-items: center;
}

nav {
    grid-area: nav;
    width: 100%;
    background-image: linear-gradient(to right, red, yellow);
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-size: 30px;
}

nav a {
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    transition: all 1s ease-in-out;
}

.icon-nav {
    color: black;
}

nav a:hover {
    transform: rotate(360deg);
}

header {
    grid-area: header;
    width: 100%;
    background-image: url(images/header-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 5px solid black;
    font-family: Bungee;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header h1 {
    display: block;
    border: 2px solid black;
    background-color: hsla(0, 0%, 100%, 0.7);
    line-height: 1.2em;
    padding: 0.2em;
}
.main-container {
    grid-area: main;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.box {
    margin-top: 4%;
    margin-bottom: 2%;
}

.box p {
    text-align: center;
}

.photowrapper a {
    display: block;
    position: relative;
}

.photowrapper img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 450px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 1s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.photowrapper:hover .overlay {
    opacity: 0.8;
}

.overlay .icon-photo, .text {
    color: white;
    transition: left 1s ease-out;
}

.overlay .icon-photo {
    position: relative;
    left: -80%;
    font-size: 500%;
}

.overlay .text {
    position: relative;
    left: 80%;
}

.photowrapper:hover .icon-photo {
    left: 0%;
}

.photowrapper:hover .text {
    left: 0%;
}
 
footer {
    grid-area: footer;
    width: 100%;
    background-image: linear-gradient(to left, red, yellow);
    border-top: 6px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

